*{
    padding: 0;
    margin: 0;
}

.container{
    background-color: rgb(235, 236, 236);
    width: 800px;
    height: 350px;
    border: 1px solid black;
}

.section2{

    width: 600px;
    height: 100px;
}

.section2 input{
width: 300px;
height: 25px;
}

.section2 button{
width: 70px;
height: 25px;
color: white;
background-color: rgb(24, 118, 66);
border-radius: 5px;
}

.section3{

    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.section3 .seccion_conteo{

    width: 300px;
    
}
.section3 .listado_tareas{
    width: 700px;
}

.section3 th{
    padding: 5px;
}

table {
    width: 100%;
}

table td {
    text-align: center;
    text-align: left;
}

table input[type="checkbox"] {
    margin: 0 auto;
    display: block;
}
